version: '3.8'

services:
  api:
    build: .
    container_name: your-movie-api
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    restart: always
